%table.table.table-striped.calendar
  %thead
    %tr
      %th Monday
      %th Tuesday
      %th Wednesday
      %th Thursday
      %th Friday
      %th Saturday
      %th Sunday
  %tbody
    %tr
      %td Nov 30
      %td Dec 1
      %td Dec 2
      %td Dec 3
      %td Dec 4
      %td Dec 5
      %td Dec 6
    %tr
      %td Dec 7
      %td Dec 8
      %td Dec 9
      %td Dec 10
      %td Dec 11
      %td Dec 12
      %td Dec 13
    %tr
      %td Dec 14
      %td Dec 15
      %td Dec 16
      %td Dec 17
      %td Dec 18
      %td Dec 19
      %td Dec 20
    %tr
      %td Dec 21
      %td Dec 22
      %td Dec 23
      %td Dec 24
      %td Dec 25
      %td Dec 26
      %td Dec 27
    %tr
      %td Dec 28
      %td Dec 29
      %td Dec 30
      %td Dec 31
      %td Jan 1
      %td Jan 2
      %td Jan 3
