.row.items-view
  .col-md-4
    %button.btn.btn-default#today{type: "button"}
      Today
    .btn-group{role: "group"}
      %button.btn.btn-default{type: "button", "aria-label" => "previous time"}
        %span.glyphicon.glyphicon-arrow-left{"aria-hidden" => "true"}
      %button.btn.btn-default{type: "button", "aria-label" => "future time"}
        %span.glyphicon.glyphicon-arrow-right{"aria-hidden" => "true"}
    %month-display= Time.now.strftime("%B %m, %y")

  .col-md-5
  .col-md-3
    .btn-group{role: "group"}
      %button.btn.btn-default.active{type: "button", "aria-label" => "list"}
        List
      %button.btn.btn-default{type: "button", "aria-label" => "list"}
        Week
      %button.btn.btn-default{type: "button", "aria-label" => "list"}
        2-Week
      %button.btn.btn-default{type: "button", "aria-label" => "list"}
        Month

.row
  %table.table.table-striped
    %thead
      %tr
        %th Courses
        %th Due Items
        %th Due Date
    %tbody
      %tr
        %td MATH 285
        %td Project #3 - Statistical Analysis
        %td 12/23/15
      %tr
        %td COMP 365
        %td HW #10 - Registers Implementation
        %td 12/23/15
      %tr
        %td PHYS 300
        %td (EC) Quiz - Magnetic Fields
        %td 12/24/15
      %tr
        %td COMP 365
        %td Final Exam - Cumulative Test
        %td 12/25/15
      %tr
        %td PHYS 300
        %td Final Exam - Ch. 7-12
        %td 12/26/15

.row.progress-box
  %h2 Current Progress
  .progress
    .progress-bar.progress-bar-striped.active{role: "progressbar"}
      8 / 12
  .col-md-4
    %p Current GPA: 3.47
    %p Best Possible GPA: 3.68
  .col-md-8
    %canvas#canvas{:height => "450", :width => "600"}
