$margin-right:      10px;
$font-size:         1.7em;
$white:             #fff;
$text-case:         uppercase;
$letter-spacing:    -1px;
$padding-top:       9px;
$font-weight:       bold;
$anchor-decoration: none;

#logo {
  float: left;
  margin-right: $margin-right;
  font-size: $font-size;
  color: $white;
  text-transform: $text-case;
  letter-spacing: $letter-spacing;
  padding-top: $padding-top;
  font-weight: $font-weight;
  &:hover {
    text-decoration: $anchor-decoration;
  }
}
