$general-line-height:   1;
$paragraph-line-height: 1.7em;
$font-size:             3em;
$letter-spacing:        -2px;
$margin-bottom:         30px;
$font-weight:           normal;
$light-gray:            #777;

h1, h2, h3, h4, h5, h6 {
  line-height: $general-line-height;
}

h1 {
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  margin-bottom: $margin-bottom;
  text-align: left;
}

h2 {
  font-size: $font-size - 1.8em; // = 1.2em
  letter-spacing: $letter-spacing + 1px; // = -1px
  margin-bottom: $margin-bottom;
  text-align: center;
  font-weight: $font-weight;
  color: $light-gray;
}

p {
  font-size: $font-size - 1.9em; // = 1.1em
  line-height: $paragraph-line-height;
}
